.sidebar {
  background-color: black;
  color: white;
}
.sideLogo {
  width: 100px;
  margin: 30px 30px;
}

.sidebarLinks {
  text-decoration: none !important;
  color: black;
}

.round {
  display: flex;
  height: 48px;
  padding: 10px 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 32px 0px 0px 32px;
  background: linear-gradient(180deg, #595959 0%, #232323 100%);
}
.round a {
  color: white;
}
.topGap {
  margin-top: 200px !important;
}
.logout {
  background-color: #e74c3c;
  border-radius: 10px 0 0 10px;
}

.underlineNone {
  text-decoration: none !important;
}
.userWelcome {
  padding: 15px 44px !important;
}
.userWelcome p {
  margin-bottom: 0.5rem !important;
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 30px;
  font-weight: 600;
}
.userTestText {
  color: #4d4d4d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
}

.header {
  align-items: center;
}

.searchInputDiv {
  width: 100%;
}
.searchInput {
  /* padding: 20px; */
  width: 100%;
  border-radius: 9px;
  border: 1px solid var(--Border, #b7b7b7);

  outline: navajowhite;
  /* border: 2px solid #b7b7b7; */
  padding: 12px;
  background: #f3f3f3;
}

.rightNav {
  align-items: center;
}

.bellIcon {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 50px;
  font-size: 20px;
}

.redBtn {
  background-color: #d21b1b;
  border-radius: 12px;
  padding: 12px 40px 16px 40px;
  color: white;
  border: 0px;
  outline: none;
}
.iconBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.col-md-9 {
  width: 74% !important;
}

.sidebar-menu-container {
  margin-bottom: 8px;
}

.submenu-container {
  transition: all 0.3s ease;
  overflow: hidden;
}

.submenu-item {
  transition: all 0.3s ease;
  border-left: 2px solid #eaeaea;
}

.submenu-item:hover {
  background: var(--Accent, #595959);
  color: #ffffff;
  font-weight: 400;
  .sidebarSubLinks {
    color: white;
  }
}

.sidebarSubLinks {
  color: #161616;
  text-decoration: none;
  font-size: 14px;
  display: block;
  transition: all 0.2s ease;
}

.sidebarLinks {
  display: flex;
  align-items: center;
  width: 100%;
}
/* 
.round {
  border-radius: 8px;
  background-color: rgba(202, 0, 0, 0.1);
  color: #ca0000;
} */

/* .round .sidebarLinks {
  color: #ca0000;
  font-weight: 500;
} */


.active-submenu {
  background: var(--Accent, #595959);
  color: #ffffff !important;
  font-weight: 500;
}

.active-submenu .sidebarSubLinks {
  color: #ffffff !important;
}

.active-parent {
   display: flex;
  height: 48px;
  padding: 10px 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 32px 0px 0px 32px;
  background: linear-gradient(180deg, #595959 0%, #232323 100%);
}

.active-parent .sidebarLinks {
  color: #ffffff !important;
}

.active-submenu .sidebarSubLinks {
  color: #dc3545;
}
